a:link
{
	text-decoration: none;
	color: #32323d;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	font-family: "Open Sans",Arial,sans-serif;
}
#contenedor
{
	width: 1129px;
	height: 1604.67px;
	background: #F8F8F9;
	position: relative;
}
#contenedor2
{
	width: 1086px;
	height: 1600px;
	background: #F8F8F9;
	position: relative;
}

#link1
{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
}

#link2
{
	float: right;
	margin-top: 22px;
	margin-right:205px;
	position: relative;
}

div a:hover
{
	color: #089FEF;
	cursor: pointer;
}

#top_canciones
{
	width: 718px;
	height: 275px;
	background: #ffffff;
	float: left;
	margin-top: 70px;
	margin-left: -138px;
	position: relative;
}

#playlist
{
	width: 280px;
	height: 274px;
	background: #F8F8F9;
	float: right;
	margin-top: 25px;
	margin-right: 10px;
	border-top: 1px solid #E8E8EC;
	border-bottom: 1px solid #E8E8EC;
	position: relative;
}

#lanzamiento
{
	height: 455px;
	width: 718px;
	background: #ffffff;
	float: left;
	margin-top: 70px;
	margin-left: -182px;
	position: relative;
}

#link3
{
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	position: relative;
}

#similares
{
	width: 276px;
	height: 453px;
	background: #F8F8F9;
	float: right;
	margin-top: 70px;
	margin-right: 10px;
	border-top: 1px solid #E8E8EC;
	border-bottom: 1px solid #E8E8EC;
	position: relative;
}

#link4
{
	float: right;
	margin-top: 30px;
	margin-right:-173px;
	position: relative;
}


#pa1
{
	float: left;
	margin-left: -720px;
	margin-top: 565px;
	font-weight: 600;
	font-size: 18px;
	font-family: "Open Sans",Arial,sans-serif;
	position: relative;
}

#separador
{
	float: left;
	margin-left: 94px;
	margin-top: 57px;
	width: 768px;
	border: 1px solid #E8E8EC;
}

#btnmas
{
	float: left;
	height: 24px;
	width: 686px;
	position: relative;
	margin-left: 15px;
	margin-top: 2px;
	background:#efeff2;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#mas
{
	text-decoration: none;
	color: #72727d;
    font-weight: 400;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 12px;
    position:relative;
    text-align:center;
}
#albumes
{
	height: 320px;
	width: 1072px;
	float: left;
	position: relative;
	margin-top: 20px;
}

#musica
{
	width: 686px;
	height: 220px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}

#cancion
{
	width: 686px;
	height: 50px;
	float: left;
	border-bottom: 1px solid #efeff2;
}

#cancion1
{
	width: 686px;
	height: 50px;
	float: left;
}

#num
{
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	font-family: "Open Sans",Arial,sans-serif;
	font-weight: 400;
	color: #c2c2ca;
	width: 10px;
	height: 10px;
}

.glyphicon-heart
{
	color: #99999e;
	float: left;
	margin-left: 25px;
	margin-top: 18px;
	cursor: pointer;
}

#nomb
{
	font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    float: left;
	margin-left: 35px;
	margin-top: 16px;
}

.glyphicon-option-horizontal
{
	color:#99999e;
	float: right;
	margin-right:25px;
	margin-top:20px;
	cursor:pointer;
}

.hova
{
	background:#efeff2;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;
}

.per
{
	display: none;
}

.ub
{
	display:none;
	height: 28px;
	width: 28px;
	float: right;
}

.play
{
	width: 52px;
	height: 52px;
	background-color: red;
	float: left;
	position: relative;
	margin-top: 5px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

