#flow
{
	width: 1038px;
	height: 280px;
	background-color: red;
	margin-top: 25px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

#explorar
{
	width: 93.7333px;
	height: 26px;
	float: left;
	margin-top: 35px;
	margin-left: 160px;
}

#explorartxt
{
	color: #32323d;
	cursor: pointer;
    position: relative;
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 600;
    font-size: 18px;
}

#descubre
{
	width: 1038px;
	height: 20px;
	float: left;
	margin-top: 65px;
	margin-left: -92px;
}

#descubretxt
{
	color: #72727d;
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    float: left;
}

#genero
{
	height: 110px;
	width: 1086px;
	margin-top: 115px;
}

.list
{
	height: 84px;
	width: 180px;
	background-color: blue;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	float: left;
	margin-right: 12px;
	margin-left: 24px;
}

